h1 {
    /* #1 */
    border: 3px solid #000000;
    padding: 40px;
    margin: 30px;
    background-color: #87CEEB;
  }
  
  p {
    /* #1 */
    border: 30px solid #000000;
    padding:  0 0 10px 60px;
    margin: 10px;
    background-color: #F4A460;
  }